:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 700;
  color: white;
  text-decoration: inherit;
  padding: 10px;
}
nav{
  display: flex;
  overflow: hidden;
  border-bottom: 1px #646cff solid;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #256EFF;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  text-align: center;
  width: 100%;
}
.link {
  padding: 10px;
  background-color: blue; 
  border-radius: 10px;
  transition: .3s;
}
.link:hover{
  background-color: white;
  color: blue;
}
.mobileNav{
  display: none;
}
.mobileButton{
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media only screen and (max-width: 768px){
  .mobileNav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #646cff;
  }
  .mobileButton{
    display: block;
  }
  /* .desktopNav{
    display: none;
  } */

}
